//Light Theme
$scrollThumbColor-Light: #CCCCCC;
$scrollBGColor-Light: #f7f7f7;
$scrollBorderColor-Light: #f1f1f1;

//Dark Theme
$scrollThumbColor-Dark: #52595F;
$scrollBGColor-Dark: #2C353E;
$scrollBorderColor-Dark: #111622 ;