.view-buttons-panel {
    font-size: 15px;
    text-align: center;
    display: inline-block;
}

.view-buttons-panel .btn-group {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    width: fit-content;
    width: -moz-fit-content;
    display: inline-block;
}

.view-buttons-panel .btn-primary.active {
    background-color: #023360;
    border-color: #023360;
}

.view-buttons-panel .view-name-title {
    display: block;
    color: #CCC;
    font-size: 15px;
    background: rgba(122, 122, 122, 0.3);
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    padding: 3px 20px;
    border: 1px solid #454545;
}